:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.container {
  --half: calc(var(--uib-size) / 4 - var(--uib-size) / 8);
  --arc-1: -80deg;
  --arc-2: 80deg;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: var(--uib-size);
  height: var(--uib-size);
}

.cube {
  width: calc(var(--uib-size) / 5);
  height: 50%;
  transform-origin: center bottom;
  transform: translateY(var(--half)) rotate(var(var(--arc-1)));
  animation: metronome var(--uib-speed) linear infinite;

  &::after {
    content: '';
    display: block;
    width: calc(var(--uib-size) / 5);
    height: calc(var(--uib-size) / 5);
    background-color: var(--uib-color);
    border-radius: 25%;
    animation: morph var(--uib-speed) linear infinite;
    transition: background-color 0.3s ease;
  }
}

@keyframes metronome {
  0% {
    transform: translateY(var(--half)) rotate(var(--arc-1));
  }

  5% {
    transform: translateY(var(--half)) rotate(var(--arc-1));
    animation-timing-function: ease-out;
  }

  50% {
    transform: translateY(var(--half)) rotate(var(--arc-2));
  }

  55% {
    transform: translateY(var(--half)) rotate(var(--arc-2));
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(var(--half)) rotate(var(--arc-1));
  }
}

@keyframes morph {
  0%,
  5% {
    transform: scaleX(0.75) scaleY(1.25);
    transform-origin: center left;
  }

  12.5% {
    transform: scaleX(1.5);
    transform-origin: center left;
  }

  25% {
    transform: scaleX(1);
    transform-origin: center left;
  }

  25.0001%,
  42.5% {
    transform: scaleX(1);
    transform-origin: center right;
  }

  50%,
  52.5% {
    transform: scaleX(0.75) scaleY(1.25);
    transform-origin: center right;
    animation-timing-function: ease-in;
  }

  65% {
    transform: scaleX(1.5);
    transform-origin: center right;
  }

  77.5% {
    transform: scaleX(1);
    transform-origin: center right;
  }

  77.5001%,
  95% {
    transform: scaleX(1);
    transform-origin: center left;
  }

  100% {
    transform: scaleX(0.75) scaleY(1.25);
    transform-origin: center left;
  }
}
