:host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-size);
  width: var(--uib-size);
}

.container {
  --dot-size: calc(var(--uib-size) * 0.1);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(var(--uib-size) * 0.7);
  width: calc(var(--uib-size) * 0.7);
}

.dot {
  --d1: -0.48;
  --d2: -0.4;
  --d3: -0.32;
  --d4: -0.24;
  --d5: -0.16;
  --d6: -0.08;
  --d7: -0;
  position: absolute;
  bottom: calc(var(--bottom) + var(--dot-size) / 2);
  right: calc(var(--right) + var(--dot-size) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--dot-size);
  width: var(--dot-size);
  animation: jump var(--uib-speed) ease-in-out infinite;
  opacity: var(--scale);
  will-change: transform;
  backface-visibility: hidden;

  &::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
    transform: scale(var(--scale));
    transition: background-color 0.3s ease;
  }

  // Position, animation
  &:nth-child(1) {
    --bottom: 24%;
    --right: -35%;
    animation-delay: calc(var(--uib-speed) * var(--d1));
  }
  &:nth-child(2) {
    --bottom: 16%;
    --right: -6%;
    animation-delay: calc(var(--uib-speed) * var(--d2));
  }
  &:nth-child(3) {
    --bottom: 8%;
    --right: 23%;
    animation-delay: calc(var(--uib-speed) * var(--d3));
  }
  &:nth-child(4) {
    --bottom: -1%;
    --right: 51%;
    animation-delay: calc(var(--uib-speed) * var(--d4));
  }
  &:nth-child(5) {
    --bottom: 38%;
    --right: -17.5%;
    animation-delay: calc(var(--uib-speed) * var(--d2));
  }
  &:nth-child(6) {
    --bottom: 30%;
    --right: 10%;
    animation-delay: calc(var(--uib-speed) * var(--d3));
  }
  &:nth-child(7) {
    --bottom: 22%;
    --right: 39%;
    animation-delay: calc(var(--uib-speed) * var(--d4));
  }
  &:nth-child(8) {
    --bottom: 14%;
    --right: 67%;
    animation-delay: calc(var(--uib-speed) * var(--d5));
  }
  &:nth-child(9) {
    --bottom: 53%;
    --right: -0.8%;
    animation-delay: calc(var(--uib-speed) * var(--d3));
  }
  &:nth-child(10) {
    --bottom: 44.5%;
    --right: 27%;
    animation-delay: calc(var(--uib-speed) * var(--d4));
  }
  &:nth-child(11) {
    --bottom: 36%;
    --right: 55.7%;
    animation-delay: calc(var(--uib-speed) * var(--d5));
  }
  &:nth-child(12) {
    --bottom: 28.7%;
    --right: 84.3%;
    animation-delay: calc(var(--uib-speed) * var(--d6));
  }
  &:nth-child(13) {
    --bottom: 66.8%;
    --right: 15%;
    animation-delay: calc(var(--uib-speed) * var(--d4));
  }
  &:nth-child(14) {
    --bottom: 58.8%;
    --right: 43%;
    animation-delay: calc(var(--uib-speed) * var(--d5));
  }
  &:nth-child(15) {
    --bottom: 50%;
    --right: 72%;
    animation-delay: calc(var(--uib-speed) * var(--d6));
  }
  &:nth-child(16) {
    --bottom: 42%;
    --right: 100%;
    animation-delay: calc(var(--uib-speed) * var(--d7));
  }

  // scaling
  &:nth-child(3) {
    --scale: 0.98;
  }
  &:nth-child(2),
  &:nth-child(8) {
    --scale: 0.96;
  }
  &:nth-child(1),
  &:nth-child(7) {
    --scale: 0.94;
  }
  &:nth-child(6),
  &:nth-child(12) {
    --scale: 0.92;
  }
  &:nth-child(5),
  &:nth-child(11) {
    --scale: 0.9;
  }
  &:nth-child(10),
  &:nth-child(16) {
    --scale: 0.88;
  }
  &:nth-child(9),
  &:nth-child(15) {
    --scale: 0.86;
  }
  &:nth-child(14) {
    --scale: 0.84;
  }
  &:nth-child(13) {
    --scale: 0.82;
  }
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(120%);
  }

  50% {
    transform: translateY(-120%);
  }
}
