:host {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--uib-size) * 0.25);
  width: var(--uib-size);
}

:host([hidden]) {
  display: none;
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.container::before {
  content: '';
  height: calc(var(--uib-size) * 0.25);
  width: 25%;
  border-radius: 50%;
  animation: wobble var(--uib-speed) calc(var(--uib-speed) * -0.1) ease-in-out
    infinite;
  transform: translate(0, calc(var(--uib-size) * -0.4));
  background-color: var(--uib-color);
  transition: background-color 0.3s ease;
}

@keyframes wobble {
  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(calc(var(--uib-size) * 0.75));
  }
}
