.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot {
  position: absolute;
  top: 13.5%;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;

  &::before {
    content: '';
    height: 20%;
    width: 20%;
    border-radius: 50%;
    background-color: var(--uib-color);
    transform: scale(0);
    opacity: 0.5;
    animation: pulse 1s ease-in-out infinite;
  }

  &:nth-child(2) {
    transform: rotate(45deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.125);
    }
  }

  &:nth-child(3) {
    transform: rotate(90deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.25);
    }
  }

  &:nth-child(4) {
    transform: rotate(135deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.375);
    }
  }

  &:nth-child(5) {
    transform: rotate(180deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.5);
    }
  }

  &:nth-child(6) {
    transform: rotate(225deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.625);
    }
  }

  &:nth-child(7) {
    transform: rotate(270deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.75);
    }
  }

  &:nth-child(8) {
    transform: rotate(315deg);

    &::before {
      animation-delay: calc(var(--uib-duration) * 0.875);
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
