.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    display: block;
    height: calc(var(--uib-size) * 0.22);
    width: calc(var(--uib-size) * 0.22);
    border-radius: 50%;
    background-color: var(--uib-color);
    will-change: transform;
  }

  &:nth-child(1) {
    animation: leapFrog 2.25s ease infinite;
  }

  &:nth-child(2) {
    transform: translateX(calc(var(--uib-size) * 0.4));
    animation: leapFrog2 2.25s ease infinite;
  }

  &:nth-child(3) {
    transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
    animation: leapFrog3 2.25s ease infinite;
  }
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes leapFrog2 {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.4)) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(0deg);
  }

  66.666% {
    transform: translateX(0) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  100% {
    transform: translateX(calc(var(--uib-size) * 0.4)) rotate(0deg);
  }
}

@keyframes leapFrog3 {
  0% {
    transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  }

  33.333% {
    transform: translateX(calc(var(--uib-size) * 0.4)) rotate(0deg);
  }

  66.666% {
    transform: translateX(0) rotate(0deg);
  }

  99.999% {
    transform: translateX(0) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}
