.container {
  position: relative;
  height: var(--uib-size);
  width: var(--uib-size);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-duration) ease-in-out infinite;
    transform: scale(0.45);
  }

  &::after {
    animation-delay: calc(var(--uib-duration) / 2);
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.45);
    opacity: 1;
  }
  50% {
    transform: scale(1);
    opacity: 0.25;
  }
}
